html{
    font-family: "Poppins", "sans-serif";
    color:black;

    body{

        // STYLE DES TITRES
        h3{
            text-transform: uppercase;
            letter-spacing: 5px;
            padding-top:40px;
            padding-bottom:20px;
            text-align:center;
            color:#154ccb;
            text-decoration: bold;
        }
        h4{
            padding-top:20px;
        }

        h5{
            padding-top:20px;
            text-transform: uppercase;
        }

        // BARRE DE NAVIGATION

            #navigation{
                position: fixed;
                max-width: 100%;
                font-family: "Poppins", "sans-serif";
            }

            // A PROPOS DE MOI
        .proposdemoi{
            padding: 100px;
        }

        // LES COMPETENCES
        .titreCompet{
            padding-top:10px;
        }

        .SFSE{
            text-align:center;
        }
        #SE{
            display:flex;
            justify-content: center;
        }
        //MES TRAVAUX

        .plusProjets{
            padding-top:50px;
        }
        // FORMULAIRE DE CONTACT

        .form{
            text-align:center;
            .button{
                margin-bottom: 30px;
            }
        }
        .contact{
            background-color: #f0efe9;
        }

        // COORDONNEES
        .coor{
            text-align: center;
        }
        .coordonnees{
            text-align:center;
            padding-bottom: 30px;
        }

        //FOOTER
        footer{

            .copyright{
                text-align:center;
            }
        }

    }
}